absl-py==0.7.1
alabaster==0.7.12
astor==0.7.1
astroid==2.2.5
autopep8==1.4.4
Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
cloudpickle==1.2.1
cycler==0.10.0
decorator==4.4.0
docutils==0.14
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
graphviz==0.11.1
grpcio==1.16.1
gym==0.13.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
intrabuildingtransport==1.0
isort==4.3.20
Jinja2==2.10.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
nltk==3.4
numpy==1.16.4
opencv-python==4.1.0.25
packaging==19.0
paddlepaddle==1.5.0
parl==1.1
Pillow==6.1.0
prettytable==0.7.2
protobuf==3.8.0
py-cpuinfo==5.0.0
pyarrow==0.14.0
pycodestyle==2.5.0
pyglet==1.2.0
Pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
pyzmq==18.0.2
rarfile==3.0
recordio==0.1.7
requests==2.22.0
rlschool==1.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.9.0
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
typed-ast==1.3.4
urllib3==1.25.3
Werkzeug==0.15.4
wrapt==1.11.1
yapf==0.27.0
